<div class="row">
  <div class="col-6 offset-md-3 mar-top-50">
    <div class="jumbotron color-theme-default">
      <h1>Login</h1>
      <p> <small> Sample Username - dummy, Password - dummy  </small> </p>
      <hr class="my-4">

      <form #f="ngForm">

        <div class="input-group col-md-12"
             *ngIf="username.invalid && (username.dirty || username.touched)">
          <small style="color: red"> Please enter valid username having min length 5</small>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control mar-bottom-20" placeholder="username"
                 aria-describedby="basic-addon1"
                 id="username" name="username"
                 #username="ngModel"
                 minlength="5"
                 maxlength="10"
                 required
                 [(ngModel)]="usernameLogin"
                 (focus)="onFocus()">
        </div>

        <div class="input-group col-md-12"
             *ngIf="password.invalid && (password.dirty || password.touched)">
          <small style="color: red"> Please enter valid password having min length 5</small>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control mar-bottom-20" placeholder="password"
                 aria-describedby="basic-addon1"
                 id="password" name="password"
                 #password="ngModel"
                 minlength="5"
                 maxlength="10"
                 required
                 [(ngModel)]="passwordLogin"
                 (focus)="onFocus()">
        </div>
      </form>

      <div class="col-md-12">
        <p style="color: red"> {{message}} </p>
        <button type="button" class="btn btn-sm btn-primary"
                [disabled]="username.invalid || password.invalid"
                (click)="dummyLogin(usernameLogin, passwordLogin)">
          LOGIN
        </button>
      </div>

    </div>
  </div>
</div>
