<div class="row mar-top-50 mar-bottom-100">

    <div class="col-md-12 page-header mar-bottom-50 text-align-center">
        <h1> <span class="badge badge-default" >Add Html Tags Dynamically</span> </h1>
    </div>

    <div class="col-2">
        <div class="card card-outline-secondary margin-top-30 color-theme-default home-div-custom">

            <div class="card-block">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="addElement(elementTypes.heading)">
                    Add Heading
                </button>
            </div>

            <div class="card-block">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="addElement(elementTypes.image)">
                    Add Image
                </button>
            </div>

            <div class="card-block">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="addElement(elementTypes.paragraph)">
                    Add Paragraph
                </button>
            </div>

            <div class="card-block">
                <button type="button btn-block" class="btn btn-sm btn-primary btn-block" (click)="addElement(elementTypes.link)">
                    Add Links
                </button>
            </div>

            <div class="card-block">
                <button type="button btn-block" class="btn btn-sm btn-danger btn-block" (click)="clearArea()">
                    Clear
                </button>
            </div>

        </div>
    </div>

  <div class="col-6" >
      <div id="painting-area" class="card card-outline-secondary margin-top-30 color-theme-default home-div-custom">
      </div>
  </div>

    <div class="col-4" >
        <div id="painting-area" class="card card-outline-secondary margin-top-30 color-theme-default home-div-custom">
            <div class="col-xs-12 col-md-12 mar-top-30">
                <input id="image-source" type="text" class="form-control" placeholder="image source" value="">
            </div>
        </div>
    </div>

</div>